<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exam_ui_programming">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exam_ui_programming">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Home"
            android:parentActivityName="Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Home" />
        </activity>
        <activity
            android:name=".Search_trips"
            android:parentActivityName=".Search_trips" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Search_trips" />
        </activity>
        <activity
            android:name=".Payment"
            android:parentActivityName=".Payment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Payment" />
        </activity>
        <activity
            android:name=".Ticket_Bought"
            android:parentActivityName=".Ticket_Bought" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Ticket_Bought" />
        </activity>
        <activity
            android:name=".Choose_seats"
            android:parentActivityName=".Choose_seats" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Choose_seats" />
        </activity>
    </application>

</manifest>